<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pacvue.h10.customer.api.domain.customer.mapper.User2AccountMapper">

    <select id="getAccountsByUserId" resultType="com.pacvue.h10.customer.dto.response.AccountDto">
        select ua."Account_id" as accountId, a."accountName", role, permissions, ua."createdAt", ua."isDefaultAccount"
        from "User2Account" ua
                 left join "Account" a on ua."Account_id" = a.id
        where ua.user_id = #{userId} and ua.status = 1
        order by ua."lastActivityAt" desc
    </select>
</mapper>
